POSTGRES_DB=culinary_blog
POSTGRES_USER=culinary
POSTGRES_PASSWORD=change-me-for-local-development
MINIO_ROOT_USER=culinary
MINIO_ROOT_PASSWORD=change-me-for-local-development
SEQ_FIRSTRUN_ADMINPASSWORD=change-me-for-local-development
ASPNETCORE_ENVIRONMENT=Development
